CLICKHOUSE_HOST=http://db.wotstat.info:80
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ru-central1
AWS_ENDPOINT_URL=https://storage.yandexcloud.net
AWS_BUCKET=static.wotstat.info

DATA_DIR=game-unpack-pipeline/.data/wot-eu/snapshots/sha256:xxx